*.class
/LameDuck/build/
/NiceViewService/build/
/LameDuckTest/build/
/LameDuckTest/dist/
NiceViewTest/build/generated/jax-wsCache/BankService/ws/bank/AccountType.java
/TravelGoodREST/nbproject/private/
/TravelGoodTest/nbproject/private/
/TravelGoodApp/nbproject/private/
TravelGoodBPEL/nbproject/private/private.properties

Submission (latex)/2.CoordinationProtocol.log

TravelGoodBPEL/nbproject/private/private.properties

NiceViewTest/nbproject/private/private.properties

NiceViewService/nbproject/private/private.properties

LameDuckTest/nbproject/private/private.properties

LameDuck/nbproject/private/private.properties
/TravelGoodBPEL/build/